USE [master]
GO
/****** Object:  Database [Goncharov_Chaikin_Dict]    Script Date: 31.03.2024 4:12:58 ******/
CREATE DATABASE [Goncharov_Chaikin_Dict]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Goncharov_Chaikin_Dict', FILENAME = N'D:\Programs\ServerSQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Goncharov_Chaikin_Dict.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Goncharov_Chaikin_Dict_log', FILENAME = N'D:\Programs\ServerSQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Goncharov_Chaikin_Dict_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Goncharov_Chaikin_Dict].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Goncharov_Chaikin_Dict]
GO
/****** Object:  Table [dbo].[Terms]    Script Date: 31.03.2024 4:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Term] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Source] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Terms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
